/*Navigation Bar */
#topnav {
  color: white;
  background-color: lightgray;
  font-size: 20px;
  text-decoration: none;
}

/* Change color of links when hovering */
#topnav a:hover {
  color: gray;
  background-color: white;
}

/*center content of element*/
.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*create row*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*Standard size of images in the grid*/
.image-size {
  width: 300px;
  height: 300px;
}

/* Create three columns that sit next to each other */
.column {
  flex: 32.5%;
  max-width: 32.5%;
  padding: 0 4px;
}

/* Responsive layout - makes a two column-grid */
@media screen and (max-width: 2000px) and (min-width: 10001px){
  .column {
    flex: 50%;
    max-width: 50%;
    width: 300px;
    height: 300px;
  }
} 

/* Responsive layout - makes a one columns grid */
@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} 

/*Standard size of contact images */
.contact {
  width: 100px;
  height: 100px;
}

#bottombar {
  text-align: center;
  color: white;
  background-color: gray;
  font-size: 20px;
  text-decoration: none;
}

.comment-list {
  margin: 10px;
  padding: 10px;
}

.comment-list li {
  display: block;
  width: 1000px;
  height: 30px;
  border: 1px solid;
}

#comments > * > .name {
  padding-right: 10px;
}

#comments > * > .delete {
  float: right;
}

.hidden {
  display: none;
}

.block-break { 
  margin-bottom: 2em; 
}

form label { 
  display: block; 
}

form input {
  display: block;
}

form select {
  display: block;
}